.brand-title {
    text-align: center;
    font-weight: 600;
    font-size: 2em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white !important;
    
}

.navbar {
    background: linear-gradient(to left, #eaa075, #433775);
}


@media (max-width: 992px){
    .brand-title{
        font-size: 1.5em;
    }

}