.form-group {
  padding: 0 1.4rem ;
  text-align: left;
  label {
    padding: 0.2rem;
    color: #817d99;
  }

  select {
    border: #dbdae1 1px solid;
    border-radius: 7px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s;
    font-size: 14px;
   
    @media (max-width: 992px){
      padding: 0.25rem;
    }
  }
}

.form-check{
  text-align: left;
}

h5{
    padding: 0  0.7rem;
    display: block;
    margin-top: 1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: #817d99;
    font-size: large;
    text-align: left;
}
